.cell-board {
	padding:15px;
	height:70px;
	border: 1px solid black;
	text-align: center;
	opacity: 0.6; /* Real browsers */
    filter: alpha(opacity = 60); /* MSIE */
}

.test-center {
    text-align: center;
}
