{% extends 'base.html' %}

{% block content %}

    <p>Hello {{user.username}}</p>
<div class="container">
  <div class="row">
    <div class="col-md-2 text-center"><h4>Game Panel</h4></div>
    <div class="col-md-10 text-center"><h4>Game Board</h4></div>
  </div>
  <div class="row">
    <div class="col-md-2">
        <button type="button" class="btn btn-info btn-block">Show Notepad</button>
        <button type="button" class="btn btn-info btn-block">Suggest</button>
        <button type="button" class="btn btn-info btn-block">Accuse</button>
    </div>
    <div class="col-md-10">
      {% for row in player_info %}
        <div class="row">
          {% for square in row %}
            <div class="col-md-2 cell-board">
              {% if square %} {{ square }} {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endfor %}

      <div class="row">
        <div class="col-md-2 cell-blank"></div>
        <div class="col-md-2 cell-blank"></div>
        <div class="col-md-2 cell-blank"></div>
        <div class="col-md-2 cell-blank"></div>
        <div class="col-md-2 cell-board">Red Start</div>
        <div class="col-md-2 cell-blank"></div>
        <div class="col-md-2 cell-blank"></div>
      </div>
      <div class="row">
        <div class="col-md-2 cell-blank"></div>
        <div class="col-md-2 cell-board">Study</div>
        <div class="col-md-2 cell-board">Passage</div>
        <div class="col-md-2 cell-board">Hall</div>
        <div class="col-md-2 cell-board">Passage</div>
        <div class="col-md-2 cell-board">Lounge</div>
        <div class="col-md-2 cell-blank"></div>
      </div>
      <div class="row">
        <div class="col-md-2 cell-board">Purple Start</div>
        <div class="col-md-2 cell-board">Passage</div>
        <div class="col-md-2 cell-blank"></div>
        <div class="col-md-2 cell-board">Passage</div>
        <div class="col-md-2 cell-blank"></div>
        <div class="col-md-2 cell-board">Passage</div>
        <div class="col-md-2 cell-board">Yellow Start</div>
      </div>
      <div class="row">
        <div class="col-md-2 cell-blank"></div>
        <div class="col-md-2 cell-board">Library</div>
        <div class="col-md-2 cell-board">Passage</div>
        <div class="col-md-2 cell-board">Billiard Room</div>
        <div class="col-md-2 cell-board">Passage</div>
        <div class="col-md-2 cell-board">Dining Room</div>
        <div class="col-md-2 cell-blank"></div>
      </div>
      <div class="row">
        <div class="col-md-2 cell-board">Purple Start</div>
        <div class="col-md-2 cell-board">Passage</div>
        <div class="col-md-2 cell-blank"></div>
        <div class="col-md-2 cell-board">Passage</div>
        <div class="col-md-2 cell-blank"></div>
        <div class="col-md-2 cell-board">Passage</div>
        <div class="col-md-2 cell-blank"></div>
      </div>
      <div class="row">
        <div class="col-md-2 cell-blank"></div>
        <div class="col-md-2 cell-board">Conservatory</div>
        <div class="col-md-2 cell-board">Passage</div>
        <div class="col-md-2 cell-board">Ball-room</div>
        <div class="col-md-2 cell-board">Passage</div>
        <div class="col-md-2 cell-board">Kitchen</div>
        <div class="col-md-2 cell-blank"></div>
      </div>
      <div class="row">
        <div class="col-md-2 cell-blank"></div>
        <div class="col-md-2 cell-blank"></div>
        <div class="col-md-2 cell-board">Green Start</div>
        <div class="col-md-2 cell-blank"></div>
        <div class="col-md-2 cell-board">White Start</div>
        <div class="col-md-2 cell-blank"></div>
        <div class="col-md-2 cell-blank"></div>
      </div>

    </div>
  </div>

{% for row in board_info %}
  <div class="card-group">
    {% for player, location in row %}
      {% if location %}
      <div class="card">
        {% comment %}<img class="card-img-top" data-src="..." alt="Card image cap">{% endcomment %}
    <div class="card-block">
      <h4 class="card-title">{% if not 'Hallway' in location %} {{ location }} {% endif %}</h4>
      <p class="card-text">{% if player %} {{ player }} {% endif %}</p>
      <a href="#" class="btn btn-primary">Button</a>
    </div>
        </div>
    {% else %}
      <div class="card">
        <img class="card-img-top" data-src="..." alt="">
    <div class="card-block">
      <h4 class="card-title"> </h4>
    </div>
        </div>
    {% endif %}
    {% endfor %}
  </div>
{% endfor %}


  {% for player in game.player_set.all %}
  <div class="card-group">
  <div class="card">
    <img class="card-img-top" data-src="..." alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" data-src="..." alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" data-src="..." alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
  {% endfor %}

<div class="card-group">
  <div class="card">
    <img class="card-img-top" data-src="..." alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" data-src="..." alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" data-src="..." alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
  <div class="card-group">
  <div class="card">
    <img class="card-img-top" data-src="..." alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" data-src="..." alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" data-src="..." alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>

</div>


{% endblock %}
