{% load staticfiles %}
    {{game.currentPlayer.name}}
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">{{state_message}}</li>
    </ul>
    <p></p>
        <div class="test-center">
        <form id="start-form" {% if hide_start %} style="display: none;" {% endif %} method="post" action="/start_game/">
            {% csrf_token %}
            <div id="start-bottom" class="input-group">
                <input type="hidden" name="game_id" value="{{ game.id }}"/>
                <button type="submit" id="start" class="btn btn-primary">Start Game</button>
            </div>
        </form>

        <form id="move-form" style="display: none;" method="post" action="/move/">
            {% csrf_token %}
            <div id="move-bottom" class="input-group">
                <input type="hidden" name="game_id" value="{{ game.id }}"/>
                <span class="input-group-btn">
                    <input type="text" id="newLocation" name="newLocation" class="form-control"/>
                    <input class="btn btn-default" id="move" type="submit" value="Move"/>
                </span>
            </div>
        </form>

        <form id="notepad-form" style="display: none;" method="post" action="/change_notepad/">
            {% csrf_token %}
            <div id="notepad-bottom" class="input-group">
                <input type="hidden" name="game_id" value="{{ game.id }}"/>
                <span class="input-group-btn">
                    <input type="text" id="player" name="player" class="form-control"/>
                    <input type="text" id="card" name="card" class="form-control"/>
                    <input class="btn btn-default" id="notepad" type="submit" value="Change"/>
                </span>
            </div>
        </form>

            <form id="first-move-form" {% if first_move %} style="display: none; " {% endif %} method="post" action="/first_move/">
                {% csrf_token %}
                <div id="first-bottom" class="input-group">
                    <input type="hidden" name="game_id" value="{{ game.id }}"/>
                    <button type="submit" id="first" class="btn btn-primary">Move onto board</button>
                </div>
            </form>

            <form id="suggestion-form" {% if hide_suggest %} style="display: none;" {% endif %} method="post" action="/make_suggestion/">
                {% csrf_token %}
                <div id="suggestion-bottom" class="input-group">

                    <input type="hidden" name="game_id" value="{{ game.id }}"/>

                    <select class="form-control" name="suspect">
                        <option value=0>Miss Scarlet</option>
                        <option value=1>Colonel Mustard</option>
                        <option value=3>Professor Plum</option>
                        <option value=4>Mr. Green</option>
                        <option value=5>Mrs. White</option>
                        <option value=2>Mrs. Peacock</option>
                    </select>

                    <select class="form-control" name="weapon">
                        <option value=6>Rope</option>
                        <option value=7>Lead Pipe</option>
                        <option value=8>Knife</option>
                        <option value=9>Wrench</option>
                        <option value=10>Candlestick</option>
                        <option value=11>Revolver</option>
                    </select>
                    <button type="submit" id="suggest" class="btn btn-primary">Make Suggestion</button>
                </div>
            </form>

            <form id="disprove-form" {% if hide_disprove %} style="display: none;" {% endif %} method="post" action="/disprove/">
                {% csrf_token %}
                <div id="disprove-bottom" class="input-group">

                    <input type="hidden" name="game_id" value="{{ game.id }}"/>

                    <select class="form-control" name="disprove">
                        <option value=3>Cannot Disprove</option>
                        <option value=2>Room</option>
                        <option value=0>Suspect</option>
                        <option value=1>Weapon</option>
                    </select>

                    <button type="submit" id="disprove" class="btn btn-primary">Submit</button>

                </div>
            </form>

            <form id="accusation-form" {% if hide_accuse %} style="display: none;" {% endif %} method="post" action="/make_accusation/">
                {% csrf_token %}
                <div id="accusation-bottom" class="input-group">

                    <input type="hidden" name="game_id" value="{{ game.id }}"/>

                    <select class="form-control" name="weapon">
                        <option value=6>Rope</option>
                        <option value=7>Lead Pipe</option>
                        <option value=8>Knife</option>
                        <option value=9>Wrench</option>
                        <option value=10>Candlestick</option>
                        <option value=11>Revolver</option>
                    </select>

                    <select class="form-control" name="color">
                        <option value=0>Red</option>
                        <option value=1>Yellow</option>
                        <option value=3>Green</option>
                        <option value=4>Blue</option>
                        <option value=5>Purple</option>
                        <option value=2>White</option>
                    </select>

                    <select class="form-control" name="room">
                        <option value=12>Study</option>
                        <option value=13>Hall</option>
                        <option value=14>Lounge</option>
                        <option value=15>Library</option>
                        <option value=16>Billiard Room</option>
                        <option value=17>Dining Room</option>
                        <option value=18>Conservatory</option>
                        <option value=19>Ballroom</option>
                        <option value=20>Kitchen</option>
                    </select>

                    <button type="submit" id="accuse" class="btn btn-primary">Make Accusation</button>
                </div>
            </form>

            <form id="ack_disprove-form" {% if hide_ack_disprove %} style="display: none;" {% endif %} method="post" action="/ack_disprove/">
                {% csrf_token %}
                <div id="ack_disprove-bottom" class="input-group">
                    <input type="hidden" name="game_id" value="{{ game.id }}"/>
                    <button type="submit" id="ack_disprove" class="btn btn-primary">Acknowledge Suggestion Result</button>
                </div>
            </form>

            <form id="end-form" {% if hide_accuse %} style="display: none;" {% endif %} method="post" action="/end_turn/">
                {% csrf_token %}
                <div id="end-bottom" class="input-group">
                    <input type="hidden" name="game_id" value="{{ game.id }}"/>
                    <button type="submit" id="end" class="btn btn-primary">End Turn</button>
                </div>
            </form>
            </div>


    <div class="row">
        <div class="col-md-7">
            <h4>The Game Board</h4>
            {% for row in board_info %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-group">
                            {% for players, location, valid_move in row %}
                                {% if location %}
                                    {% if hide_move %}
                                    <a onclick="return false;">
                                        <div class="card text-center" style="height: 120px; width: 120px; border-color: white;">
                                            <img class="card-img-top" src="{% static location.getImagePath %}" alt="{{ location.get_location_display }}" style="width: 118px; height: 118px;">
                                            <div class="card-img-overlay">
                                            {% for player in players %}
                                                <img class="card-img-btm" src="{% static player.suspect.getImagePath %}" alt="player.suspect.get_color_display" style="width: 20px">
                                            {% endfor %}
                                            </div>
                                        </div>
                                    </a>
                                    {% elif valid_move %}
                                    <a onclick="document.getElementById('newLocation').value = ({{location.location}}); document.getElementById('move-form').submit();">
                                        <div class="card text-center" style="height: 120px; width: 120px;">
                                            <img class="card-img-top" src="{% static location.getImagePath %}" alt="{{ location.get_location_display }}" style="width: 118px; height: 118px;">
                                            <div class="card-img-overlay">
                                            {% for player in players %}
                                                <img class="card-img-btm" src="{% static player.suspect.getImagePath %}" alt="player.suspect.get_color_display" style="width: 20px">
                                            {% endfor %}
                                            </div>
                                        </div>
                                    </a>
                                    {% else %}

                                    <a onclick="return false;">
                                        <div class="card text-center" style="height: 120px; width: 120px; border-color: white;">
                                            <img class="card-img-top" src="{% static location.getImagePath %}" alt="{{ location.get_location_display }}" style="width: 118px; height: 118px; opacity: 0.5; filter: alpha(opacity=50);">
                                            <div class="card-img-overlay">
                                            {% for player in players %}
                                                <img class="card-img-btm" src="{% static player.suspect.getImagePath %}" alt="player.suspect.get_color_display" style="width: 20px">
                                            {% endfor %}
                                            </div>
                                        </div>
                                    </a>
                                    {% endif %}
                                {% else %}
                                    <a onclick="return false;">
                                        <div class="card text-center" style="height: 120px; width: 120px; border-color: white;">
                                            <img class="card-img-top" src="{% static 'pictures/locations/blank.png' %}" alt="blank" style="width: 118px; height: 118px;">
                                            <div class="card-img-overlay"> </div>
                                        </div>
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="col-md-3">
            <div class="row">
                <h4>Your Notepad</h4>
                {% for player in user.player_set.all %}
                    {% if player in game.player_set.all %}
                        {% for row in player.notepad.getNotepadEntries %}
                            <div class="row">
                                <div class="card-group">
                                    {% for entry in row %}
                                        <a onclick="document.getElementById('player').value = '{{entry.player}}'; document.getElementById('card').value = ({{entry.card}}); document.getElementById('notepad-form').submit();">
                                            <div class="card text-center" style="height: 20px; width: 20px; border-color: white;">
                                                <img class="card-img-top" src="{% static entry.getImagePath %}" alt="blank" style="border: 1px solid; border-color: black; width: 18px; height: 18px; background-color: {{entry.color}};">
                                            </div>
                                        </a>
                                    {% endfor %}
                                    {{row.0.getCardDisplay}}
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-md-2">
            <h4>Your Hand</h4>
            {% for player in user.player_set.all %}
                {% if player in game.player_set.all %}
                    {% for card in player.hand.card_set.all %}
                        <div class="row">
                            <div class="card-group">
                                <div class="card text-xs-center" style="height: 120px; width: 120px; border: 3px solid; border-color: white;">
                                    <img class="card-img-top" src="{% static card.getImagePath %}" alt="{{ card.get_card_display }}" style="border: 1px solid; border-color: black; width: 108px;">
                                    <div class="card-text">
                                        <p>{{ card.get_card_display }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
    </div>

<p></p>