{% extends 'base.html' %}

{% block headline %}
    <h1>Clue-Less</h1>
    <p>Classic Detective Game</p>
{% endblock headline %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <div class="card" id="my-game-list" style="border-color: gray;">
                {% include "clueapp/my_games.html"%}
            </div>
            <form class="form-inline" id="game-form" method="post" action="{% url 'create_game' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label class="sr-only" for="game_name">Game Name</label>
                    <input type="text" id="game_name" name="game_name" placeholder="Game Name" class="form-control"/>
                </div>
                <div class="form-group">
                    <select class="form-control" name="color">
                        <option value=0>Red</option>
                        <option value=1>Yellow</option>
                        <option value=3>Green</option>
                        <option value=4>Blue</option>
                        <option value=5>Purple</option>
                        <option value=2>White</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Create Game</button>
            </form>
        </div>
        <div class="col-sm-6">
            <div class="card" id="open-game-list" style="border-color: gray;">
                {% include "clueapp/open_games.html" %}
            </div>
        </div>
    </div>

  <!-- Modal -->
  <div class="modal fade" id="infoModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Game Info</h4>
        </div>
        <div class="modal-body">
          <p>Game has already started. You cannot join this game. Please choose another game session.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

    <script>
        $( document ).ready(function(){
            location.reload();
        });
    </script>

{% endblock %}
