{% extends 'base.html' %}

{% block headline %}
    <h1>Clue-Less</h1>
    <p>Classic Detective Game</p>
{% endblock headline %}

{% block content %}

    {% include "clueapp/players.html" %}

    <form class="form-inline" id="player-form" method="post" action="{% url 'join_game_submit' %}">
        {% csrf_token %}
        <input type="hidden" name="game_id" value="{{ game.id }}"/>
        <div class="form-group">
            <select class="form-control" name="color">
                <option value=0>Red</option>
                <option value=1>Yellow</option>
                <option value=3>Green</option>
                <option value=4>Blue</option>
                <option value=5>Purple</option>
                <option value=2>White</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Join Game</button>
    </form>

{% endblock %}