{% if messages %}
    <ul class="list-group">
        {% for message in messages %}
            <li {% if message.tags %} class="list-group-item list-group-item-{{ message.tags }}" {% endif %}>
                {{ message }}
            </li>
        {% endfor %}
    </ul>
{% endif %}
{{hello}}