
    <div class="card-header card-primary">
        My Games
    </div>
    <ul class="list-group list-group-flush">
        {% for player in user.player_set.all %}
            <a href="{% url 'game' player.game.id %}" class="list-group-item"><span class="label label-primary label-pill pull-xs-right">{{player.game.player_set.count}}</span>{{player.game.gameName}}</a>
        {% empty %}
            You have not joined any games.
        {% endfor %}
    </ul>
