
    <div class="card-header card-primary">
        Open Games
    </div>
    <ul class="list-group list-group-flush">
        {% for game in game_list %}
            {% if game.player_set.count < 6 and game.state == 0 %}
                <a href="{% url 'join_game' game.id %}" class="list-group-item"><span class="label label-primary label-pill pull-xs-right">{{game.player_set.count}}</span>{{game.gameName}}</a>
            {% else %}
                <a href="#" data-toggle="modal" data-target="#infoModal" class="list-group-item"><span class="label label-primary label-pill pull-xs-right">{{game.player_set.count}}</span>{{game.gameName}}</a>
            {% endif %}
        {% empty %}
            There are no games.
        {% endfor %}
    </ul>
