<div class="card">
    <div class="card-header card-primary">
        List of Current Players
    </div>
    <ul class="list-group list-group-flush">
        {% for player in game.player_set.all %}
            <li class="list-group-item"><span class="label label-primary label-pill pull-xs-right">{{player.suspect.get_color_display}}</span>{{ player.name }}</li>
        {% empty %}
            You have not joined any games.
        {% endfor %}
    </ul>
</div>