{% extends 'base.html' %}

{% block title %}
    Create User | {{ block.super }}
{% endblock %}

{% block headline %}
    <h1>
        Create a Clue-Less User
    </h1>
{% endblock %}

{% block content %}

        <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Enter User Data</h3>
                    </div>
                    <div class="panel-body>">
                        <form method="POST" action="">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" value="Create User">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}