{% extends 'base.html' %}

{% block title %}
    Login | {{ block.super }}
{% endblock %}

{% block headline %}
    <h1>
        Login to Clue-Less
    </h1>
{% endblock %}

{% block content %}
    {% if form.errors %}
        <p>Username and password did not match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page.</p>
        {% else %}
            <p>Please login to see this page</p>
        {% endif %}
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Login</h3>
                    </div>
                    <div class="panel-body>">
                        <form method="POST" action="">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" value="Login">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}