{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Clue-Less</title>
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'css/clueapp.css' %}" rel="stylesheet">
    </head>

    <body>
        <nav class="navbar navbar-static-top navbar-light bg-primary">
            <a class="navbar-brand" href="/">Clue-Less</a>
            <ul class="nav navbar-nav">
                <li class="nav-item btn-group">
                    <a class="dropdown-toggle nav-link" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Account
                    </a>
                    <div class="dropdown-menu bg-primary" aria-labelledby="dropdownMenu1">
                    <a class="dropdown-item" href="{% url 'home' %}">home</a>
                        {% if not user.is_authenticated %}
                            <a class="dropdown-item" href="{% url 'createuser' %}">Create User</a>
                            <a class="dropdown-item" href="{% url 'login' %}">Login</a>
                        {% else %}
                            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </nav>

        {% if messages %}
            <ul class="list-group">
                {% for message in messages %}
                    <li {% if message.tags %} class="list-group-item list-group-item-{{ message.tags }}" {% endif %}>
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if not game.id %}
        <div class="jumbotron">
            <div class="container">

                {% block headline %}
                {% endblock headline %}
            </div>
        </div>
        {% endif %}

        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>

        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src = "{% static 'js/clueless.js' %}"></script>
        {% block javascript %}
        {% endblock %}

        <div class="jumbotron">
            <div class="container">
                <h1>NAARLE</h1>
            </div>
        </div>

    </body>
</html>