{% extends 'base.html' %}

{% block headline %}
    <h1>Welcome to the Clue-Less app!</h1>
{% endblock headline %}

{% block content %}
<p> Hi!
    {% if user.is_authenticated %}
        {{ user.username }}
    {% endif %}
</p>
{% endblock %}